.widget {
  margin-top: 2em;

  &_row {
    display: flex;
  }

  &_col {

    &-label {
      text-align: right;
      // display: block;
      flex: 0 0 25%;
      font-weight: bold;
      text-transform: capitalize;
    }

    &-value {
      padding-left: 1em;
      flex: 0 0 auto;
    }

  }
}