.hidden {
  display: none;
}

.spacer {
  @include mq {
    flex-grow: 1;
  }
}

.page-limited {
  @extend %page-limiter;
  padding: 0 1em;
}

// creates a set of classes that add a specified background color
.bg {
  @include colorizer(background-color);
}

// creates a set of classes that add a specified text color
.text {
  @include colorizer(color);
}



